/* About style sheet */

#about {
    position: relative;

    width: 60%;
    height: 90%;

    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#about p {
    position: relative;

    max-height: 70%;
    overflow-y: auto;

    display: inline;
    white-space: pre-wrap;
}

#about h1 {
    position: relative;
    font-size: max(5vw, 5vh);
}