/* Mobile style sheet */

@media only screen and ((orientation: portrait) or (max-width: 700px)) {

    h1 {
        font-size: 2.5vh;
    
        filter: drop-shadow(-0.15vh 0vw 0 rgb(37, 37, 37));
    }
    
    h2 {
        font-size: 2.5vh;
    
        filter: drop-shadow(-0.10vh 0vw 0 rgb(37, 37, 37));
    }

    p {
        font-size: 1.75vh;
    
        filter: drop-shadow(-0.10vh 0vw 0 rgb(37, 37, 37));
    }

    #calculator {
        display: grid;
    
        width: 90vw;
        height: 80vh;
    
        grid-template-columns: 45vw 45vw;
        grid-template-rows: 20vh 40vh 20vh;
        grid-template-areas:
        "header header"
        "main-left  main-right"
        "footer footer";
    
        justify-content: center;
    }

    #grid-item-header img {
        max-width: 90vw;
        max-height: 20vh;
    }

    #grid-item-content-left label input {
        width: 6vh;
        height: 2vh;
    }

    #grid-item-content-right label img {
        max-width: 4vw;
        max-height: 4vh;
    }

    #grid-item-footer {
        margin: 0 5vw;
    }

    #twitch-player-container {
        position: fixed;
    
        width: 40vw;
        height: 20vh;
    
        bottom: 0;
        right: 0;
    
        z-index: 100;
    }
    
    #twitch-player {
        position: absolute;
        text-size-adjust: none;
    
        width: 100%;
        height: 100%;
    
        z-index: 100;
    }
    
    #twitch-player-minimize {
        position: absolute;
        font-size: 2vh;
        color: white;
        z-index: 101;
    
        top: -0.25vh;
        left: 0.5vw;
    }
    
    #twitch-player-minimize:hover {
        color: purple;
        cursor: pointer;
    }
    
    #stream-link {
        display: none;
        position: absolute;
    
        max-width: 10vw;
        max-height: 10vh;
        
        right: 0;
        bottom: 0;
        z-index: 100;
    
        fill: purple;
        /* background-image: url("../graphics/twitch-icon.svg");
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat; */
    }
    
    #stream-link:hover {
        cursor: pointer;
        fill: violet;
    }
  }