/* Mobile style sheet */

@viewport {
    width: device-width;
    zoom: 1;
}

@media only screen and (max-width: 600px),
    only screen and (orientation: portrait) {

        html, body {
            position: relative;
            height: 100%;
            overflow: hidden;
        }

        h1 {
            font-size: 3vh;
        
            filter: drop-shadow(-0.15vh 0vw 0 rgb(37, 37, 37));
        }
        
        h2 {
            font-size: 3vh;
        
            filter: drop-shadow(-0.10vh 0vw 0 rgb(37, 37, 37));
        }

        p {
            font-size: 1.75vh;
        
            filter: drop-shadow(-0.10vh 0vw 0 rgb(37, 37, 37));
        }

        input {
            font-size: 1vh;
        }

        #calculator {
            display: grid;
        
            width: 90vw;
            height: 80vh;
        
            grid-template-columns: 45vw 45vw;
            grid-template-rows: 25vh 25vh 30vh;
            grid-template-areas:
            "header header"
            "main-left  main-right"
            "footer footer";
        
            justify-content: center;
        }

        #grid-item-header img {
            max-width: 80vw;
            max-height: 15vh;
        }

        #grid-item-content-left {
            justify-content: flex-start;
        }

        #grid-item-content-right {
            justify-content: flex-start;
        }
        #grid-item-content-right label img {
            max-width: 4vw;
            max-height: 4vh;
        }

        #grid-item-footer {
            justify-content: flex-start;
            margin: 0 5vw;
        }

        #twitch-player-container {
            position: fixed;
        
            width: 50vw;
            height: 25vh;
        
            bottom: 0;
            right: 0;
        
            z-index: 100;
        }
        
        #twitch-player {
            position: absolute;
            text-size-adjust: none;
        
            width: 100%;
            height: 100%;
        
            z-index: 100;
        }
        
        #twitch-player-minimize {
            position: absolute;
            font-size: 4vw;
        
            top: -0.25vh;
            left: 0.5vw;

            z-index: 101;
        }

        #footer-layer-one {
            height: 5vh;
        }

        #footer-layer-two {
            height: 5vh;
        }

        #footer {
            height: 5vh;
        }
    }