/* Mobile style sheet */

@viewport {
    width: device-width;
    zoom: 1;
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5),
    screen and (orientation: portrait) {

        html, body {
            position: relative;
            height: 100%;
            overflow: hidden;
        }

        p {
            font-size: 1rem;
        }

        input, select {
            font-size: 1vh;
        }

        #calculator {
            display: grid;
        
            width: 90vw;
            height: 85vh;
        
            grid-template-columns: 45vw 45vw;
            grid-auto-rows: minmax(25vh, auto);
            grid-template-areas:
            "header header"
            "main-left  main-right"
            "footer footer";

            justify-content: center;
            align-items: flex-start;
        }

        #grid-item-header img {
            max-width: 80vw;
            max-height: 20vh;
            margin: 5% 0 0 0;
        }

        #grid-item-content-left {
            justify-content: flex-start;
        }

        #grid-item-content-right {
            justify-content: flex-start;
        }
        #grid-item-content-right label img {
            max-width: max(4vw, 4vh);
            max-height: max(4vh, 4vw);
        }

        #grid-item-footer {
            justify-content: flex-start;
            margin: 0 5vw;
        }

        #footer-layer-one {
            height: 5vh;
        }

        #footer-layer-two {
            height: 5vh;
        }

        #footer {
            height: 5vh;
        }

        #footer p{
            font-size: 1vh;
        }
        
        #about {
            width: 90%;
        }

        #twitch-player-container {
            position: fixed;
        
            width: 50vw;
            height: 25vh;
        
            bottom: 0;
            right: 0;
        
            z-index: 100;
        }
        
        #twitch-player {
            position: absolute;
            text-size-adjust: none;
        
            width: 100%;
            height: 100%;
        
            z-index: 100;
        }
        
        #twitch-player-minimize {
            position: absolute;
            font-size: 8vw;
        
            top: -0.25vh;
            left: 0.5vw;

            z-index: 101;
        }
    }