/* Social Links */

#paypal-link, #pateron-link, #twtr-link, #ytube-link {
    position: relative;

    height: 100%;

    margin: 0 1.25% 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#paypal-link svg{
    position: relative;

    height: 50%;
    margin: 0 5%;

    fill: #0070ba;
}

#paypal-link:hover svg {
    fill: #0099ff;
}

#pateron-link svg {
    position: relative;

    height: 50%;
    margin: 0 5%;

    fill: #ff424b;
}

#pateron-link:hover svg{
    fill: #ff6169;
}

#twtr-link svg {
    position: relative;

    height: 50%;
    margin: 0 5%;
    
    fill: #1d9bf0;
}

#twtr-link:hover svg {
    fill: #3aaefc;
}

#ytube-link svg {
    position: relative;

    height: 50%;
    margin: 0 5%;
    
    fill: #c00;
}

#ytube-link:hover svg {
    fill: #eb1515;
}

#paypal-link:hover, #patreon-link:hover, #twtr-link:hover, #ytube-link:hover {
    cursor: pointer;
}

#twitch-player-container {
    position: fixed;

    width: 25vw;
    height: 25vh;

    bottom: 0;
    right: 0;

    z-index: 100;
}

#twitch-player {
    position: absolute;
    text-size-adjust: none;

    width: 100%;
    height: 100%;

    z-index: 100;
}

#twitch-player-minimize {
    position: absolute;
    font-size: 3vw;
    color: #5c16c5;
    z-index: 101;

    top: -1vh;
    left: 0.5vw;
}

#twitch-player-minimize:hover {
    color: #954eff;;
    cursor: pointer;
}

#stream-link {
    position: absolute;

    max-width: 20%;
    max-height: 50%;

    right: 7.5%;

    fill: #5c16c5;
}

#stream-link:hover {
    cursor: pointer;
    fill: #954eff;
}