/* This is the main style sheet */

@font-face {
    font-family: "Big Noodle Titling";
    src: url("../fonts/big_noodle_titling.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    text-size-adjust: auto;
    -webkit-text-size-adjust: auto;
}

body {
    color: #FFD700;
    background-image: url("../graphics/dragonflight_background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;

    width: 100vw;
    height: 100vh;

    font-family: "Big Noodle Titling";
    overflow: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-grid {
    display: grid;

    width: 90vw;
    height: 90vh;

    grid-template-areas:
    "header header  header  header  header    header"
    "main-left   main-left    main-right    main-right    main-right    main-right"
    "main-left   main-left    main-right    main-right    main-right    main-right"
    "main-left   main-left    main-right    main-right    main-right    main-right"
    "footer footer  footer  footer  footer  footer";

    gap: 1vw;
    padding: 1vw;
}

.menu-grid div {
    font-size: 1vw;
    /* background-image: url("../graphics/container_background.png");
    background-size: 170% 110%;
    background-repeat: no-repeat; */

    background-image:  linear-gradient(to left, #26262600, #2626268e, #26262600);
    /* background-color: #2626265e;
    box-shadow: 0 0 0.5vw #a57a031e; */

    display: flex;
}

.menu-grid div p {
    color: white;
}

.menu-grid div h1 {
    font-weight: normal;
    filter: drop-shadow(-0.15vw 0.1vh 0 rgb(37, 36, 36));
}

#grid-item-header {
    grid-area: header;

    font-size: 2vw;
    border-radius: 0.25em/0.25em;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#grid-item-content-left {
    grid-area: main-left;

    border-radius: 1em/1em;

    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#grid-item-content-left label{
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    justify-content: center;
}

#grid-item-content-left label input{
    width: 10vw;

    font-size: 0.75vw;
    margin: 10%;

    align-self: center;
}

#grid-item-content-right {
    grid-area: main-right;

    border-radius: 1em/1em;

    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#grid-item-content-right span{
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    justify-content: center;
    
}

#grid-item-content-right span p{
    margin: 10%;

    align-self: center;
}

#grid-item-footer {
    grid-area: footer;

    border-radius: 0.75em/0.75em;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#grid-item-footer h1{
    font-size: 2vw;
}

#twitch-player-container {
    position: fixed;

    width: 20vw;
    height: 20vh;

    bottom: 0;
    right: 0;

    z-index: 1;
}

#twitch-player {
    position: absolute;
    text-size-adjust: none;

    width: 100%;
    height: 100%;

    z-index: 2;
}

#twitch-player-minimize {
    position: absolute;
    font-size: 1vw;
    color: white;
    z-index: 3;

    top: -0.25vh;
    left: 0.5vw;
}

#twitch-player-minimize:hover {
    color: purple;
    cursor: pointer;
}

#stream-link {
    display: none;
    position: absolute;

    width: 5%;
    height: 5%;
    
    right: 0;
    bottom: 0;
    z-index: 10;

    fill: purple;
    /* background-image: url("../graphics/twitch-icon.svg");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat; */
}

#stream-link:hover {
    cursor: pointer;
    fill: violet;
}