/* This is the main style sheet */

@font-face {
    font-family: "Big Noodle Titling";
    src: url("../fonts/big_noodle_titling.ttf");
}

@keyframes menuAnimation {
    from {right: 0}
    to {right: 5vw}
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    text-size-adjust: auto;
    -webkit-text-size-adjust: auto;
}

body {
    color: #FFD700;
    background-image: url("../graphics/dragonflight_background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;

    width: 100vw;
    height: 100vh;

    font-family: "Big Noodle Titling";

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-grid {
    display: grid;

    width: 90vw;
    height: 90vh;
    padding: 1vw;

    grid-template-columns: auto 40vw auto;
    grid-template-rows: 15vh 75vh;
    grid-template-areas:
    "header header  header"
    "main-left  footer  main-right";
    gap: 1vw;

    justify-content: center;
    align-content: center;
}

.menu-grid div {
    font-size: 1.5vw;
    /* background-image: url("../graphics/container_background.png");
    background-size: 170% 110%;
    background-repeat: no-repeat; */

    /* background-image:  linear-gradient(to right, #26262600, #262626d5 50%, #26262600); */
    /* background-color: #2626265e;
    box-shadow: 0 0 0.5vw #a57a031e; */

    display: flex;
}

.menu-grid div p {
    color: white;
}

.menu-grid div h1 {
    font-weight: normal;
    filter: drop-shadow(-0.15vw 0.1vh 0 rgb(37, 37, 37));
}

.menu-bar {
    background-color: black;

    width: 2vw;
    height: 0.2vw;

    margin: 0.1vw 0;
}

#menu-rod {
    position: absolute;
    background-color: #FFD700;

    top: 0;
    left: 0;
    width: 5vw;
    height: 0.5vw;
    z-index: 1;
}

#menu-options {
    position: absolute;

    font-size: 1vw;
    opacity: 0;

    top: 1vw;
    left: 6vw;
    width: 10vw;
    height: 5vw;
    z-index: 1;

    display: flex;
    flex-direction: column;
}

#dropdown {
    position: absolute;
    color: black;
    background-color: #FFD700;

    top: 0;
    left: 0;
    width: 5vw;
    height: 2vw;
    z-index: 5;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#dropdown:hover {
    cursor: pointer;
}

#grid-item-header {
    grid-area: header;

    font-size: 2vw;
    border-radius: 0.25em/0.25em;
    background-image: linear-gradient(to right, #35170300, #3517035e 50%, #35170300);
    /* background-image: url("../graphics/container.svg"); */

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#grid-item-content-left {
    grid-area: main-left;

    border-radius: 1em/1em;
    background-image: linear-gradient(to left, #35170300, #3517035e);

    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#grid-item-content-left label {

    width: 80%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#grid-item-content-left label input {
    width: 10vw;

    font-size: 0.75vw;
    /* margin: 10%; */
}

#grid-item-content-right {
    grid-area: main-right;

    border-radius: 1em/1em;
    background-image: linear-gradient(to right, #35170300 10%, #3517035e);

    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#grid-item-content-right label {

    width: 80%;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    
}

#grid-item-content-right label p {
    font-size: 1vw;
}

#grid-item-footer {
    grid-area: footer;

    border-radius: 0.75em/0.75em;
    background-image: linear-gradient(to right, #35170300, #3517035e 50%, #35170300);

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#grid-item-footer h1 {
    font-size: 2vw;
}

#twitch-player-container {
    position: fixed;

    width: 20vw;
    height: 20vh;

    bottom: 0;
    right: 0;

    z-index: 1;
}

#twitch-player {
    position: absolute;
    text-size-adjust: none;

    width: 100%;
    height: 100%;

    z-index: 2;
}

#twitch-player-minimize {
    position: absolute;
    font-size: 1vw;
    color: white;
    z-index: 3;

    top: -0.25vh;
    left: 0.5vw;
}

#twitch-player-minimize:hover {
    color: purple;
    cursor: pointer;
}

#stream-link {
    display: none;
    position: absolute;

    width: 5%;
    height: 5%;
    
    right: 0;
    bottom: 0;
    z-index: 10;

    fill: purple;
    /* background-image: url("../graphics/twitch-icon.svg");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat; */
}

#stream-link:hover {
    cursor: pointer;
    fill: violet;
}